# Git ignore file for python projects
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
# C extensions
*.so
# Distribution / packaging
# Python egg files
*.egg
*.egg-info/
dist/
build/
/venv
*/env
/.env
/bship_venv